@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* brand */
  --primary: #da165b;
  --secondary: #fce8ef;
  --success: #22c55e;
  --hover: #ad0f47;

  /* surfaces */
  --surface-1: #ffffff;
  --surface-2: #f8f9fa;
  --surface-3: #dee2e6;
  --surface-4: #1f2937;

  /* text */
  --text-primary: #1e1e1e;
  --text-secondary: #6b7280;
  --text-disabled: #9ca3af;
  --text-inverse: #fff;
  --text-accent: #da165b;
}

@theme inline {
  /* default colors */
  --color-background: var(--surface-2);
  --color-foreground: var(--text-primary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-hover: var(--hover);

  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-4: var(--surface-4);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse: var(--text-inverse);
  --color-text-accent: var(--text-accent);

  /* fonts */
  --font-sans-kor: var(--font-noto-sans); /* Noto Sans KR */
  --font-sans: var(--font-geist-sans);

  /* font sizes */
  --text-xs: 0.75rem; /* 14px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.75rem; /* 28px */
  --text-3xl: 2rem; /* 32px */
  --text-4xl: 2.25rem; /* 36px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility headline-large {
  font-size: var(--text-4xl);
  font-weight: 700;
}
@utility headline-medium {
  font-size: var(--text-3xl);
  font-weight: 700;
}
@utility headline-small {
  font-size: var(--text-2xl);
  font-weight: 700;
}
@utility title-large {
  font-size: var(--text-xl);
  font-weight: 700;
}
@utility title-medium {
  font-size: var(--text-lg);
  font-weight: 700;
}
@utility title-small {
  font-size: var(--text-base);
  font-weight: 700;
}
@utility body-large {
  font-size: var(--text-base);
  font-weight: 500;
}
@utility body-small {
  font-size: var(--text-sm);
  font-weight: 500;
}
@utility label-large {
  font-size: var(--text-base);
  font-weight: 700;
}
@utility label-medium {
  font-size: var(--text-sm);
  font-weight: 700;
}
@utility label-small {
  font-size: var(--text-xs);
  font-weight: 700;
}

body {
  background: var(--surface-2);
  color: var(--foreground);
  font-family: var(--font-sans-kor), var(--font-sans), system-ui, sans-serif;
}
